.body {
  /* min-height: 100vh; */
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 400px;
  min-width: 100vh; */
  font-size: 36px;
}

.display {
  width: 200px;
  height: 40px;
  background-color: rgb(212, 211, 211);
  border: 1px solid red;
  text-align: right;
}

button {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.numpad {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.top {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.clear {
  flex: 1;
}

.backspace {
  flex: 1;
}

.zero {
  flex: 2;
}

.bottom {
  display: flex;
  width: 200px;
}

.equal {
  flex: 1;
}