.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 800px;
  font-size: 36px;
}

.display {
  width: 200px;
  background-color: rgb(212, 211, 211);
  border: 1px solid red;
  text-align: right;
}

button {
  height: 40px;
  width: 40px;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.outer-top {
  display: flex;
  width: 200px;
  justify-content: space-between;
  gap: 10px
}

.clear {
  flex: 1;
}

.backspace {
  flex: 1;
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 200px;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.middle-row {
  display: flex;
  justify-content: space-between;
}

.buttom-row {
  display: flex;
  justify-content: space-between;
}

.last-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.zero {
  flex: 1;
}

.operators {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.outer-buttom {
  display: flex;
  height: 50px;
  width: 200px;
}

.equal {
  flex: 1;
}